body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../商品详情1_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px
}

.u2_original {
    background-image: url('../商品详情1_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px
}

.u4_original {
    background-image: url('../商品详情1_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:125px;
    top:225px;
    width:300px;
    height:425px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:431px;
}

.u5 {
    position:absolute;
    left:2px;
    top:204px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:125px;
    top:225px;
    width:300px;
    height:425px
}

.u6 {
    position:absolute;
    left:134px;
    top:233px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:134px;
    top:346px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:134px;
    top:469px;
    width:232px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:200px;
    top:181px;
    width:154px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:124px;
    top:180px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

