body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../活动优惠fj_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px
}

.u2_original {
    background-image: url('../活动优惠fj_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px
}

.u4_line {
    background-image: url('../活动优惠fj_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:116px;
    top:217px;
    width:318px;
    height:3px;
}

.u4 {
    position:absolute;
    left:116px;
    top:217px;
    width:318px;
    height:3px
}

.u5 {
    position:absolute;
    left:215px;
    top:173px;
    width:154px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:215px;
    top:198px;
    width:154px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:124px;
    top:180px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_original {
    background-image: url('../活动优惠fj_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:124px;
    top:254px;
    width:306px;
    height:130px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:136px;
}

.u9 {
    position:absolute;
    left:2px;
    top:57px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:124px;
    top:254px;
    width:306px;
    height:130px
}

.u10 {
    position:absolute;
    left:202px;
    top:358px;
    width:184px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_original {
    background-image: url('../活动优惠fj_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:124px;
    top:393px;
    width:306px;
    height:105px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:111px;
}

.u12 {
    position:absolute;
    left:2px;
    top:44px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:124px;
    top:393px;
    width:306px;
    height:105px
}

.u13 {
    position:absolute;
    left:134px;
    top:401px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_original {
    background-image: url('../活动优惠fj_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:124px;
    top:507px;
    width:306px;
    height:86px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:92px;
}

.u15 {
    position:absolute;
    left:2px;
    top:35px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:124px;
    top:507px;
    width:306px;
    height:86px
}

.u16_original {
    background-image: url('../活动优惠fj_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:124px;
    top:604px;
    width:306px;
    height:45px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:51px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:124px;
    top:604px;
    width:306px;
    height:45px
}

.u18 {
    position:absolute;
    left:134px;
    top:514px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:134px;
    top:613px;
    width:232px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:337px;
    top:304px;
    width:85px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_original {
    background-image: url('../活动优惠fj_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:350px;
    top:307px;
    width:16px;
    height:16px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u22 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:350px;
    top:307px;
    width:16px;
    height:16px
}

.u23 {
    position:absolute;
    left:373px;
    top:307px;
    width:44px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../活动优惠fj_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:336px;
    top:342px;
    width:99px;
    height:26px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:32px;
}

.u25 {
    position:absolute;
    left:2px;
    top:5px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:336px;
    top:342px;
    width:99px;
    height:26px
}

.u26 {
    position:absolute;
    left:355px;
    top:345px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../活动优惠fj_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:427px;
    top:354px;
    width:76px;
    height:3px;
}

.u27 {
    position:absolute;
    left:427px;
    top:354px;
    width:76px;
    height:3px
}

.u28_line {
    background-image: url('../活动优惠fj_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:398px;
    top:562px;
    width:136px;
    height:3px;
}

.u28 {
    position:absolute;
    left:398px;
    top:562px;
    width:136px;
    height:3px
}

.u29_original {
    background-image: url('../活动优惠fj_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:514px;
    top:546px;
    width:206px;
    height:65px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:71px;
}

.u30 {
    position:absolute;
    left:2px;
    top:24px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:514px;
    top:546px;
    width:206px;
    height:65px
}

.u31 {
    position:absolute;
    left:528px;
    top:568px;
    width:135px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:124px;
    top:630px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_original {
    background-image: url('../活动优惠fj_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:494px;
    top:329px;
    width:241px;
    height:65px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:71px;
}

.u34 {
    position:absolute;
    left:2px;
    top:24px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:494px;
    top:329px;
    width:241px;
    height:65px
}

.u35 {
    position:absolute;
    left:508px;
    top:336px;
    width:225px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:508px;
    top:364px;
    width:199px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_original {
    background-image: url('../活动优惠fj_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:116px;
    top:217px;
    width:320px;
    height:37px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:43px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:116px;
    top:217px;
    width:320px;
    height:37px
}

.u39 {
    position:absolute;
    left:134px;
    top:227px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_original {
    background-image: url('../活动优惠fj_files/u8_original.png');
}

.u40_container {
    position:absolute;
    left:635px;
    top:632px;
    width:306px;
    height:130px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:136px;
}

.u41 {
    position:absolute;
    left:2px;
    top:57px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:635px;
    top:632px;
    width:306px;
    height:130px
}

.u42 {
    position:absolute;
    left:713px;
    top:736px;
    width:184px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_original {
    background-image: url('../活动优惠fj_files/u11_original.png');
}

.u43_container {
    position:absolute;
    left:635px;
    top:771px;
    width:306px;
    height:105px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:111px;
}

.u44 {
    position:absolute;
    left:2px;
    top:44px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:635px;
    top:771px;
    width:306px;
    height:105px
}

.u45 {
    position:absolute;
    left:645px;
    top:779px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_original {
    background-image: url('../活动优惠fj_files/u14_original.png');
}

.u46_container {
    position:absolute;
    left:635px;
    top:885px;
    width:306px;
    height:86px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:92px;
}

.u47 {
    position:absolute;
    left:2px;
    top:35px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:635px;
    top:885px;
    width:306px;
    height:86px
}

.u48_original {
    background-image: url('../活动优惠fj_files/u16_original.png');
}

.u48_container {
    position:absolute;
    left:635px;
    top:982px;
    width:306px;
    height:45px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:51px;
}

.u49 {
    position:absolute;
    left:2px;
    top:14px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:635px;
    top:982px;
    width:306px;
    height:45px
}

.u50 {
    position:absolute;
    left:645px;
    top:892px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:645px;
    top:991px;
    width:232px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:848px;
    top:682px;
    width:85px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53_original {
    background-image: url('../活动优惠fj_files/u21_original.png');
}

.u53_container {
    position:absolute;
    left:861px;
    top:685px;
    width:16px;
    height:16px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u54 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:861px;
    top:685px;
    width:16px;
    height:16px
}

.u55 {
    position:absolute;
    left:884px;
    top:685px;
    width:44px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_original {
    background-image: url('../活动优惠fj_files/u24_original.png');
}

.u56_container {
    position:absolute;
    left:847px;
    top:720px;
    width:99px;
    height:26px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:32px;
}

.u57 {
    position:absolute;
    left:2px;
    top:5px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:847px;
    top:720px;
    width:99px;
    height:26px
}

.u58 {
    position:absolute;
    left:866px;
    top:723px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_original {
    background-image: url('../活动优惠fj_files/u37_original.png');
}

.u59_container {
    position:absolute;
    left:627px;
    top:595px;
    width:320px;
    height:37px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:43px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:627px;
    top:595px;
    width:320px;
    height:37px
}

.u61 {
    position:absolute;
    left:645px;
    top:605px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_original {
    background-image: url('../活动优惠fj_files/u62_original.png');
}

.u62_container {
    position:absolute;
    left:627px;
    top:633px;
    width:320px;
    height:403px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:409px;
}

.u63 {
    position:absolute;
    left:2px;
    top:194px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:627px;
    top:633px;
    width:320px;
    height:403px
}

.u64 {
    position:absolute;
    left:378px;
    top:180px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65_menu {
    background-image: url('../活动优惠fj_files/u65_menu.png');
}

.u65_menu {
    position:absolute;
    left:404px;
    top:198px;
    width:115px;
    height:55px;
}

#u66 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:45px
}

.u66_table {
    background-image: url('../活动优惠fj_files/u66_table.png');
}

.u66_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:49px;
}

.u67_original {
    background-image: url('../活动优惠fj_files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px
}

.u69_original {
    background-image: url('../活动优惠fj_files/u67_original.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px
}

.u71 {
    position:absolute;
    left:416px;
    top:205px;
    width:64px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:417px;
    top:225px;
    width:64px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_line {
    background-image: url('../活动优惠fj_files/u73_line.png');
}

.u73_line {
    position:absolute;
    left:505px;
    top:213px;
    width:136px;
    height:3px;
}

.u73 {
    position:absolute;
    left:505px;
    top:213px;
    width:136px;
    height:3px
}

.u74_original {
    background-image: url('../活动优惠fj_files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:621px;
    top:51px;
    width:357px;
    height:193px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:363px;
    height:199px;
}

.u75 {
    position:absolute;
    left:2px;
    top:88px;
    width:353px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:621px;
    top:51px;
    width:357px;
    height:193px
}

.u76 {
    position:absolute;
    left:635px;
    top:197px;
    width:328px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_line {
    background-image: url('../活动优惠fj_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:822px;
    top:218px;
    width:3px;
    height:56px;
}

.u77 {
    position:absolute;
    left:822px;
    top:218px;
    width:3px;
    height:56px
}

.u78_original {
    background-image: url('../活动优惠fj_files/u78_original.png');
}

.u78_container {
    position:absolute;
    left:741px;
    top:271px;
    width:180px;
    height:56px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u79 {
    position:absolute;
    left:2px;
    top:20px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:741px;
    top:271px;
    width:180px;
    height:56px
}

.u80 {
    position:absolute;
    left:753px;
    top:288px;
    width:178px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_line {
    background-image: url('../活动优惠fj_files/u81_line.png');
}

.u81_line {
    position:absolute;
    left:505px;
    top:235px;
    width:68px;
    height:3px;
}

.u81 {
    position:absolute;
    left:505px;
    top:235px;
    width:68px;
    height:3px
}

.u82_original {
    background-image: url('../活动优惠fj_files/u82_original.png');
}

.u82_container {
    position:absolute;
    left:550px;
    top:226px;
    width:130px;
    height:64px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u83 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:550px;
    top:226px;
    width:130px;
    height:64px
}

.u84 {
    position:absolute;
    left:561px;
    top:236px;
    width:109px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:635px;
    top:137px;
    width:328px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:635px;
    top:70px;
    width:328px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

