body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../我在这里_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px
}

.u2_original {
    background-image: url('../我在这里_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px
}

.u4 {
    position:absolute;
    left:113px;
    top:177px;
    width:320px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:124px;
    top:180px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_original {
    background-image: url('../我在这里_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:153px;
    top:239px;
    width:50px;
    height:50px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:153px;
    top:239px;
    width:50px;
    height:50px
}

.u8_original {
    background-image: url('../我在这里_files/u6_original.png');
}

.u8_container {
    position:absolute;
    left:341px;
    top:240px;
    width:50px;
    height:50px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u9 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:341px;
    top:240px;
    width:50px;
    height:50px
}

.u10_original {
    background-image: url('../我在这里_files/u6_original.png');
}

.u10_container {
    position:absolute;
    left:124px;
    top:367px;
    width:50px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:124px;
    top:367px;
    width:50px;
    height:50px
}

.u12_original {
    background-image: url('../我在这里_files/u6_original.png');
}

.u12_container {
    position:absolute;
    left:124px;
    top:443px;
    width:50px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u13 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:124px;
    top:443px;
    width:50px;
    height:50px
}

.u14_original {
    background-image: url('../我在这里_files/u6_original.png');
}

.u14_container {
    position:absolute;
    left:124px;
    top:520px;
    width:50px;
    height:50px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u15 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:124px;
    top:520px;
    width:50px;
    height:50px
}

.u16_line {
    background-image: url('../我在这里_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:115px;
    top:354px;
    width:318px;
    height:3px;
}

.u16 {
    position:absolute;
    left:115px;
    top:354px;
    width:318px;
    height:3px
}

.u17_line {
    background-image: url('../我在这里_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:115px;
    top:429px;
    width:318px;
    height:3px;
}

.u17 {
    position:absolute;
    left:115px;
    top:429px;
    width:318px;
    height:3px
}

.u18_line {
    background-image: url('../我在这里_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:115px;
    top:507px;
    width:318px;
    height:3px;
}

.u18 {
    position:absolute;
    left:115px;
    top:507px;
    width:318px;
    height:3px
}

.u19_line {
    background-image: url('../我在这里_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:115px;
    top:584px;
    width:318px;
    height:3px;
}

.u19 {
    position:absolute;
    left:115px;
    top:584px;
    width:318px;
    height:3px
}

.u20 {
    position:absolute;
    left:150px;
    top:312px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:338px;
    top:316px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:194px;
    top:363px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_original {
    background-image: url('../我在这里_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:398px;
    top:379px;
    width:29px;
    height:29px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:398px;
    top:379px;
    width:29px;
    height:29px
}

.u25_original {
    background-image: url('../我在这里_files/u23_original.png');
}

.u25_container {
    position:absolute;
    left:398px;
    top:453px;
    width:29px;
    height:29px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:398px;
    top:453px;
    width:29px;
    height:29px
}

.u27_original {
    background-image: url('../我在这里_files/u23_original.png');
}

.u27_container {
    position:absolute;
    left:398px;
    top:531px;
    width:29px;
    height:29px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:398px;
    top:531px;
    width:29px;
    height:29px
}

.u29 {
    position:absolute;
    left:117px;
    top:170px;
    width:67px;
    height:42px
}

.u30_line {
    background-image: url('../我在这里_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:273px;
    top:217px;
    width:3px;
    height:137px;
}

.u30 {
    position:absolute;
    left:273px;
    top:217px;
    width:3px;
    height:137px
}

.u31_original {
    background-image: url('../我在这里_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:410px;
    top:226px;
    width:16px;
    height:16px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u32 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:410px;
    top:226px;
    width:16px;
    height:16px
}

.u33_original {
    background-image: url('../我在这里_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:584px;
    top:153px;
    width:249px;
    height:140px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:255px;
    height:146px;
}

.u34 {
    position:absolute;
    left:2px;
    top:62px;
    width:245px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:584px;
    top:153px;
    width:249px;
    height:140px
}

.u35_original {
    background-image: url('../我在这里_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:747px;
    top:216px;
    width:16px;
    height:16px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u36 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:747px;
    top:216px;
    width:16px;
    height:16px
}

.u37 {
    position:absolute;
    left:611px;
    top:173px;
    width:250px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_original {
    background-image: url('../我在这里_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:407px;
    top:251px;
    width:197px;
    height:48px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:48px;
}

.u39 {
    position:absolute;
    left:2px;
    top:16px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:407px;
    top:251px;
    width:197px;
    height:48px
}

.u40 {
    position:absolute;
    left:194px;
    top:384px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:194px;
    top:404px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:194px;
    top:438px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:194px;
    top:459px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:194px;
    top:479px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:194px;
    top:517px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:194px;
    top:538px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:194px;
    top:558px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:350px;
    top:385px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:350px;
    top:458px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:350px;
    top:540px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:616px;
    top:250px;
    width:250px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:120px;
    top:361px;
    width:311px;
    height:64px
}

.u53 {
    position:absolute;
    left:120px;
    top:436px;
    width:311px;
    height:64px
}

.u54 {
    position:absolute;
    left:120px;
    top:514px;
    width:311px;
    height:64px
}

.u55_original {
    background-image: url('../我在这里_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:116px;
    top:601px;
    width:320px;
    height:47px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u56 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:116px;
    top:601px;
    width:320px;
    height:47px
}

.u57_original {
    background-image: url('../我在这里_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:120px;
    top:606px;
    width:57px;
    height:37px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:43px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:120px;
    top:606px;
    width:57px;
    height:37px
}

.u59_original {
    background-image: url('../我在这里_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:184px;
    top:606px;
    width:57px;
    height:38px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:44px;
}

.u60 {
    position:absolute;
    left:2px;
    top:11px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:184px;
    top:606px;
    width:57px;
    height:38px
}

.u61_original {
    background-image: url('../我在这里_files/u57_original.png');
}

.u61_container {
    position:absolute;
    left:246px;
    top:606px;
    width:57px;
    height:37px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:43px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:246px;
    top:606px;
    width:57px;
    height:37px
}

.u63_original {
    background-image: url('../我在这里_files/u63_original.png');
}

.u63_container {
    position:absolute;
    left:309px;
    top:606px;
    width:58px;
    height:37px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:43px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:309px;
    top:606px;
    width:58px;
    height:37px
}

.u65 {
    position:absolute;
    left:134px;
    top:615px;
    width:32px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:199px;
    top:615px;
    width:31px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:256px;
    top:615px;
    width:43px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:322px;
    top:615px;
    width:45px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:124px;
    top:603px;
    width:54px;
    height:46px
}

.u70 {
    position:absolute;
    left:186px;
    top:607px;
    width:53px;
    height:37px
}

.u71 {
    position:absolute;
    left:245px;
    top:606px;
    width:57px;
    height:38px
}

.u72 {
    position:absolute;
    left:308px;
    top:606px;
    width:58px;
    height:38px
}

.u73_original {
    background-image: url('../我在这里_files/u57_original.png');
}

.u73_container {
    position:absolute;
    left:373px;
    top:606px;
    width:57px;
    height:37px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:43px;
}

.u74 {
    position:absolute;
    left:2px;
    top:10px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:373px;
    top:606px;
    width:57px;
    height:37px
}

.u75 {
    position:absolute;
    left:386px;
    top:615px;
    width:32px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:377px;
    top:607px;
    width:52px;
    height:35px
}

