body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../某个酒-商户详情_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px
}

.u2_original {
    background-image: url('../某个酒-商户详情_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px
}

.u4_original {
    background-image: url('../某个酒-商户详情_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:333px;
    top:225px;
    width:96px;
    height:38px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:44px;
}

.u5 {
    position:absolute;
    left:2px;
    top:11px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:333px;
    top:225px;
    width:96px;
    height:38px
}

.u6_original {
    background-image: url('../某个酒-商户详情_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:125px;
    top:225px;
    width:96px;
    height:38px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:44px;
}

.u7 {
    position:absolute;
    left:2px;
    top:11px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:125px;
    top:225px;
    width:96px;
    height:38px
}

.u8 {
    position:absolute;
    left:133px;
    top:234px;
    width:72px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:354px;
    top:234px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../某个酒-商户详情_files/u6_original.png');
}

.u10_container {
    position:absolute;
    left:229px;
    top:225px;
    width:96px;
    height:38px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:44px;
}

.u11 {
    position:absolute;
    left:2px;
    top:11px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:229px;
    top:225px;
    width:96px;
    height:38px
}

.u12 {
    position:absolute;
    left:243px;
    top:234px;
    width:72px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../某个酒-商户详情_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:116px;
    top:269px;
    width:318px;
    height:3px;
}

.u13 {
    position:absolute;
    left:116px;
    top:269px;
    width:318px;
    height:3px
}

.u14_original {
    background-image: url('../某个酒-商户详情_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:563px;
    top:320px;
    width:322px;
    height:58px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:64px;
}

.u15 {
    position:absolute;
    left:2px;
    top:21px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:563px;
    top:320px;
    width:322px;
    height:58px
}

.u16 {
    position:absolute;
    left:585px;
    top:331px;
    width:250px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_original {
    background-image: url('../某个酒-商户详情_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:413px;
    top:241px;
    width:167px;
    height:129px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:129px;
}

.u18 {
    position:absolute;
    left:2px;
    top:56px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:413px;
    top:241px;
    width:167px;
    height:129px
}

.u19 {
    position:absolute;
    left:557px;
    top:316px;
    width:341px;
    height:68px
}

.u20_original {
    background-image: url('../某个酒-商户详情_files/u14_original.png');
}

.u20_container {
    position:absolute;
    left:563px;
    top:219px;
    width:322px;
    height:58px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:64px;
}

.u21 {
    position:absolute;
    left:2px;
    top:21px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:563px;
    top:219px;
    width:322px;
    height:58px
}

.u22 {
    position:absolute;
    left:585px;
    top:230px;
    width:250px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_original {
    background-image: url('../某个酒-商户详情_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:125px;
    top:279px;
    width:300px;
    height:307px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:313px;
}

.u24 {
    position:absolute;
    left:2px;
    top:146px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:125px;
    top:279px;
    width:300px;
    height:307px
}

.u25 {
    position:absolute;
    left:138px;
    top:407px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:138px;
    top:434px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:138px;
    top:454px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:138px;
    top:474px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:138px;
    top:514px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:138px;
    top:494px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:138px;
    top:534px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:138px;
    top:558px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_original {
    background-image: url('../某个酒-商户详情_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:364px;
    top:534px;
    width:15px;
    height:15px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u34 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:364px;
    top:534px;
    width:15px;
    height:15px
}

.u35_original {
    background-image: url('../某个酒-商户详情_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:393px;
    top:521px;
    width:152px;
    height:22px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:22px;
}

.u36 {
    position:absolute;
    left:2px;
    top:3px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:393px;
    top:521px;
    width:152px;
    height:22px
}

.u37_original {
    background-image: url('../某个酒-商户详情_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:539px;
    top:502px;
    width:113px;
    height:52px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:58px;
}

.u38 {
    position:absolute;
    left:2px;
    top:18px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:539px;
    top:502px;
    width:113px;
    height:52px
}

.u39 {
    position:absolute;
    left:549px;
    top:510px;
    width:230px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_original {
    background-image: url('../某个酒-商户详情_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:363px;
    top:511px;
    width:15px;
    height:15px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u41 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:363px;
    top:511px;
    width:15px;
    height:15px
}

.u42_original {
    background-image: url('../某个酒-商户详情_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:393px;
    top:484px;
    width:150px;
    height:32px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:32px;
}

.u43 {
    position:absolute;
    left:2px;
    top:8px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:393px;
    top:484px;
    width:150px;
    height:32px
}

.u44_original {
    background-image: url('../某个酒-商户详情_files/u44_original.png');
}

.u44_container {
    position:absolute;
    left:539px;
    top:471px;
    width:113px;
    height:29px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:35px;
}

.u45 {
    position:absolute;
    left:2px;
    top:6px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:539px;
    top:471px;
    width:113px;
    height:29px
}

.u46 {
    position:absolute;
    left:549px;
    top:477px;
    width:230px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_original {
    background-image: url('../某个酒-商户详情_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:132px;
    top:285px;
    width:154px;
    height:114px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:120px;
}

.u48 {
    position:absolute;
    left:2px;
    top:49px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:132px;
    top:285px;
    width:154px;
    height:114px
}

.u49 {
    position:absolute;
    left:229px;
    top:330px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:294px;
    top:286px;
    width:124px;
    height:114px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:139px;
    top:593px;
    width:271px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52_original {
    background-image: url('../某个酒-商户详情_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:551px;
    top:599px;
    width:319px;
    height:734px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:740px;
}

.u53 {
    position:absolute;
    left:2px;
    top:359px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:551px;
    top:599px;
    width:319px;
    height:734px
}

.u54_original {
    background-image: url('../某个酒-商户详情_files/u54_original.png');
}

.u54_container {
    position:absolute;
    left:560px;
    top:609px;
    width:300px;
    height:352px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:358px;
}

.u55 {
    position:absolute;
    left:2px;
    top:168px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:560px;
    top:609px;
    width:300px;
    height:352px
}

.u56_original {
    background-image: url('../某个酒-商户详情_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:560px;
    top:609px;
    width:300px;
    height:38px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:44px;
}

.u57 {
    position:absolute;
    left:2px;
    top:11px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:560px;
    top:609px;
    width:300px;
    height:38px
}

.u58 {
    position:absolute;
    left:566px;
    top:618px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:572px;
    top:778px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:572px;
    top:805px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:572px;
    top:825px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:572px;
    top:845px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:572px;
    top:885px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:572px;
    top:865px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:572px;
    top:905px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:572px;
    top:929px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_original {
    background-image: url('../某个酒-商户详情_files/u33_original.png');
}

.u67_container {
    position:absolute;
    left:798px;
    top:905px;
    width:15px;
    height:15px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u68 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:798px;
    top:905px;
    width:15px;
    height:15px
}

.u69_original {
    background-image: url('../某个酒-商户详情_files/u40_original.png');
}

.u69_container {
    position:absolute;
    left:797px;
    top:882px;
    width:15px;
    height:15px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u70 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:797px;
    top:882px;
    width:15px;
    height:15px
}

.u71_original {
    background-image: url('../某个酒-商户详情_files/u47_original.png');
}

.u71_container {
    position:absolute;
    left:566px;
    top:656px;
    width:154px;
    height:114px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:120px;
}

.u72 {
    position:absolute;
    left:2px;
    top:49px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:566px;
    top:656px;
    width:154px;
    height:114px
}

.u73 {
    position:absolute;
    left:663px;
    top:701px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:728px;
    top:657px;
    width:124px;
    height:114px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75_original {
    background-image: url('../某个酒-商户详情_files/u54_original.png');
}

.u75_container {
    position:absolute;
    left:560px;
    top:971px;
    width:300px;
    height:352px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:358px;
}

.u76 {
    position:absolute;
    left:2px;
    top:168px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:560px;
    top:971px;
    width:300px;
    height:352px
}

.u77_original {
    background-image: url('../某个酒-商户详情_files/u56_original.png');
}

.u77_container {
    position:absolute;
    left:560px;
    top:971px;
    width:300px;
    height:38px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:44px;
}

.u78 {
    position:absolute;
    left:2px;
    top:11px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:560px;
    top:971px;
    width:300px;
    height:38px
}

.u79 {
    position:absolute;
    left:566px;
    top:980px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:572px;
    top:1140px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:572px;
    top:1167px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:572px;
    top:1187px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:572px;
    top:1207px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:572px;
    top:1247px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:572px;
    top:1227px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:572px;
    top:1267px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:572px;
    top:1291px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_original {
    background-image: url('../某个酒-商户详情_files/u33_original.png');
}

.u88_container {
    position:absolute;
    left:798px;
    top:1267px;
    width:15px;
    height:15px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u89 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:798px;
    top:1267px;
    width:15px;
    height:15px
}

.u90_original {
    background-image: url('../某个酒-商户详情_files/u40_original.png');
}

.u90_container {
    position:absolute;
    left:797px;
    top:1244px;
    width:15px;
    height:15px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u91 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:797px;
    top:1244px;
    width:15px;
    height:15px
}

.u92_original {
    background-image: url('../某个酒-商户详情_files/u47_original.png');
}

.u92_container {
    position:absolute;
    left:566px;
    top:1018px;
    width:154px;
    height:114px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:120px;
}

.u93 {
    position:absolute;
    left:2px;
    top:49px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:566px;
    top:1018px;
    width:154px;
    height:114px
}

.u94 {
    position:absolute;
    left:663px;
    top:1063px;
    width:138px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:728px;
    top:1019px;
    width:124px;
    height:114px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96_original {
    background-image: url('../某个酒-商户详情_files/u44_original.png');
}

.u96_container {
    position:absolute;
    left:527px;
    top:584px;
    width:113px;
    height:29px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:35px;
}

.u97 {
    position:absolute;
    left:2px;
    top:6px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:527px;
    top:584px;
    width:113px;
    height:29px
}

.u98 {
    position:absolute;
    left:537px;
    top:590px;
    width:230px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_original {
    background-image: url('../某个酒-商户详情_files/u99_original.png');
}

.u99_container {
    position:absolute;
    left:398px;
    top:591px;
    width:142px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:20px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:398px;
    top:591px;
    width:142px;
    height:20px
}

.u101 {
    position:absolute;
    left:215px;
    top:173px;
    width:154px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:215px;
    top:198px;
    width:154px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:249px;
    top:172px;
    width:91px;
    height:43px
}

.u104 {
    position:absolute;
    left:124px;
    top:180px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105 {
    position:absolute;
    left:123px;
    top:218px;
    width:97px;
    height:50px
}

.u106 {
    position:absolute;
    left:229px;
    top:218px;
    width:97px;
    height:50px
}

.u107 {
    position:absolute;
    left:333px;
    top:218px;
    width:97px;
    height:50px
}

