body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../更多_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px
}

.u2_original {
    background-image: url('../更多_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:221px;
    width:310px;
    height:241px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:247px;
}

.u3 {
    position:absolute;
    left:2px;
    top:112px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:120px;
    top:221px;
    width:310px;
    height:241px
}

.u4_original {
    background-image: url('../更多_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px
}

.u6 {
    position:absolute;
    left:113px;
    top:177px;
    width:320px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_original {
    background-image: url('../更多_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:507px;
    top:421px;
    width:171px;
    height:59px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:65px;
}

.u8 {
    position:absolute;
    left:2px;
    top:22px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:507px;
    top:421px;
    width:171px;
    height:59px
}

.u9 {
    position:absolute;
    left:522px;
    top:442px;
    width:175px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:377px;
    top:180px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:370px;
    top:170px;
    width:67px;
    height:42px
}

.u12_original {
    background-image: url('../更多_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:124px;
    top:600px;
    width:50px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u13 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:124px;
    top:600px;
    width:50px;
    height:50px
}

.u14 {
    position:absolute;
    left:194px;
    top:600px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:194px;
    top:625px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_original {
    background-image: url('../更多_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:362px;
    top:629px;
    width:16px;
    height:16px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u17 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:362px;
    top:629px;
    width:16px;
    height:16px
}

.u18_original {
    background-image: url('../更多_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:116px;
    top:601px;
    width:320px;
    height:47px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u19 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:116px;
    top:601px;
    width:320px;
    height:47px
}

.u20_original {
    background-image: url('../更多_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:123px;
    top:606px;
    width:70px;
    height:37px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:43px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:123px;
    top:606px;
    width:70px;
    height:37px
}

.u22_original {
    background-image: url('../更多_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:202px;
    top:606px;
    width:71px;
    height:38px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:44px;
}

.u23 {
    position:absolute;
    left:2px;
    top:11px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:202px;
    top:606px;
    width:71px;
    height:38px
}

.u24_original {
    background-image: url('../更多_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:278px;
    top:606px;
    width:71px;
    height:37px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:43px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:278px;
    top:606px;
    width:71px;
    height:37px
}

.u26 {
    position:absolute;
    left:140px;
    top:615px;
    width:39px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:221px;
    top:615px;
    width:38px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:290px;
    top:615px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:205px;
    top:606px;
    width:66px;
    height:37px
}

.u30 {
    position:absolute;
    left:281px;
    top:604px;
    width:66px;
    height:38px
}

.u31_original {
    background-image: url('../更多_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:357px;
    top:606px;
    width:71px;
    height:37px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:43px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:357px;
    top:606px;
    width:71px;
    height:37px
}

.u33 {
    position:absolute;
    left:380px;
    top:615px;
    width:37px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:363px;
    top:605px;
    width:66px;
    height:35px
}

.u35_original {
    background-image: url('../更多_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:120px;
    top:473px;
    width:310px;
    height:124px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:130px;
}

.u36 {
    position:absolute;
    left:2px;
    top:54px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:120px;
    top:473px;
    width:310px;
    height:124px
}

.u37_original {
    background-image: url('../更多_files/u12_original.png');
}

.u37_container {
    position:absolute;
    left:124px;
    top:479px;
    width:50px;
    height:50px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u38 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:124px;
    top:479px;
    width:50px;
    height:50px
}

.u39_original {
    background-image: url('../更多_files/u12_original.png');
}

.u39_container {
    position:absolute;
    left:124px;
    top:543px;
    width:50px;
    height:50px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u40 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:124px;
    top:543px;
    width:50px;
    height:50px
}

.u41 {
    position:absolute;
    left:194px;
    top:496px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:194px;
    top:559px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_original {
    background-image: url('../更多_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:379px;
    top:488px;
    width:29px;
    height:29px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:379px;
    top:488px;
    width:29px;
    height:29px
}

.u45_original {
    background-image: url('../更多_files/u43_original.png');
}

.u45_container {
    position:absolute;
    left:379px;
    top:553px;
    width:29px;
    height:29px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:379px;
    top:553px;
    width:29px;
    height:29px
}

.u47_original {
    background-image: url('../更多_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:406px;
    top:456px;
    width:96px;
    height:49px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:49px;
}

.u48 {
    position:absolute;
    left:2px;
    top:16px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:406px;
    top:456px;
    width:96px;
    height:49px
}

.u49_original {
    background-image: url('../更多_files/u47_original.png');
}

.u49_container {
    position:absolute;
    left:406px;
    top:528px;
    width:96px;
    height:49px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:49px;
}

.u50 {
    position:absolute;
    left:2px;
    top:16px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:406px;
    top:528px;
    width:96px;
    height:49px
}

.u51_original {
    background-image: url('../更多_files/u7_original.png');
}

.u51_container {
    position:absolute;
    left:507px;
    top:501px;
    width:171px;
    height:59px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:65px;
}

.u52 {
    position:absolute;
    left:2px;
    top:22px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:507px;
    top:501px;
    width:171px;
    height:59px
}

.u53 {
    position:absolute;
    left:522px;
    top:522px;
    width:175px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_line {
    background-image: url('../更多_files/u54_line.png');
}

.u54_line {
    position:absolute;
    left:120px;
    top:534px;
    width:310px;
    height:3px;
}

.u54 {
    position:absolute;
    left:120px;
    top:534px;
    width:310px;
    height:3px
}

.u55_original {
    background-image: url('../更多_files/u12_original.png');
}

.u55_container {
    position:absolute;
    left:132px;
    top:243px;
    width:50px;
    height:50px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u56 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:132px;
    top:243px;
    width:50px;
    height:50px
}

.u57 {
    position:absolute;
    left:194px;
    top:257px;
    width:150px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:126px;
    top:362px;
    width:296px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:126px;
    top:396px;
    width:296px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:126px;
    top:429px;
    width:296px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:146px;
    top:293px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:328px;
    top:254px;
    width:94px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:121px;
    top:600px;
    width:72px;
    height:46px
}

