* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="商品详情_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="商品详情_files/u2_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="商品详情_files/u4_original.png");
}

