body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../某一活动qbmj_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:50px;
    top:50px;
    width:450px;
    height:731px
}

.u2_original {
    background-image: url('../某一活动qbmj_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:116px;
    top:170px;
    width:320px;
    height:47px
}

.u4_line {
    background-image: url('../某一活动qbmj_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:116px;
    top:217px;
    width:318px;
    height:3px;
}

.u4 {
    position:absolute;
    left:116px;
    top:217px;
    width:318px;
    height:3px
}

.u5 {
    position:absolute;
    left:215px;
    top:173px;
    width:154px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:215px;
    top:198px;
    width:154px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:124px;
    top:180px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_original {
    background-image: url('../某一活动qbmj_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:124px;
    top:221px;
    width:306px;
    height:163px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:169px;
}

.u9 {
    position:absolute;
    left:2px;
    top:74px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:124px;
    top:221px;
    width:306px;
    height:163px
}

.u10 {
    position:absolute;
    left:202px;
    top:358px;
    width:184px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_original {
    background-image: url('../某一活动qbmj_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:124px;
    top:393px;
    width:306px;
    height:105px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:111px;
}

.u12 {
    position:absolute;
    left:2px;
    top:44px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:124px;
    top:393px;
    width:306px;
    height:105px
}

.u13 {
    position:absolute;
    left:134px;
    top:401px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_original {
    background-image: url('../某一活动qbmj_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:124px;
    top:507px;
    width:306px;
    height:86px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:92px;
}

.u15 {
    position:absolute;
    left:2px;
    top:35px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:124px;
    top:507px;
    width:306px;
    height:86px
}

.u16_original {
    background-image: url('../某一活动qbmj_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:124px;
    top:604px;
    width:306px;
    height:45px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:51px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:124px;
    top:604px;
    width:306px;
    height:45px
}

.u18 {
    position:absolute;
    left:134px;
    top:514px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:134px;
    top:613px;
    width:232px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_original {
    background-image: url('../某一活动qbmj_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:336px;
    top:342px;
    width:99px;
    height:26px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:32px;
}

.u21 {
    position:absolute;
    left:2px;
    top:5px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:336px;
    top:342px;
    width:99px;
    height:26px
}

.u22 {
    position:absolute;
    left:355px;
    top:345px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../某一活动qbmj_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:427px;
    top:354px;
    width:76px;
    height:3px;
}

.u23 {
    position:absolute;
    left:427px;
    top:354px;
    width:76px;
    height:3px
}

.u24_line {
    background-image: url('../某一活动qbmj_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:398px;
    top:562px;
    width:136px;
    height:3px;
}

.u24 {
    position:absolute;
    left:398px;
    top:562px;
    width:136px;
    height:3px
}

.u25_original {
    background-image: url('../某一活动qbmj_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:514px;
    top:546px;
    width:206px;
    height:65px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:71px;
}

.u26 {
    position:absolute;
    left:2px;
    top:24px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:514px;
    top:546px;
    width:206px;
    height:65px
}

.u27 {
    position:absolute;
    left:528px;
    top:568px;
    width:135px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:124px;
    top:630px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_original {
    background-image: url('../某一活动qbmj_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:494px;
    top:329px;
    width:241px;
    height:65px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:71px;
}

.u30 {
    position:absolute;
    left:2px;
    top:24px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:494px;
    top:329px;
    width:241px;
    height:65px
}

.u31 {
    position:absolute;
    left:508px;
    top:336px;
    width:225px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:508px;
    top:364px;
    width:199px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:378px;
    top:180px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

