* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="商家新建完成_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="商家新建完成_files/u2_original.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="商家新建完成_files/u6_original.png");
}

